@import "tailwindcss";

html, body {
  height: 100%;
  background-color: black;
  color: white; /* optional */
  margin: 0;
  padding: 0;
}

.montserrat-mont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.montserrat-spartan {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes rise {
  0% {
    transform: translateY(1em); /* start just below baseline */
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-rise {
  display: inline-block;
  animation: rise 0.6s ease-out forwards;
  opacity: 0; /* initial state */
  will-change: transform, opacity; /* smoother performance */
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in forwards;
}
